@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";

.CalendarDashboard {
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
	background-color: white;
}

.Calendar {
	margin: 0 auto;
	padding: 0 10px;
}

.fc-axis.fc-time.fc-widget-content {
	border-top-style: none;
}
